<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Conhecimentos Gerais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div id="dificuldade">
            <h1>Escolha o Nível de Dificuldade</h1>
            <button id="facil">Fácil</button>
            <button id="medio">Médio</button>
            <button id="dificil">Difícil</button>
        </div>
        <div id="quiz" class="hidden">
            <h1>Quiz de Conhecimentos Gerais</h1>
            <div id="question-container"></div>
            <div class="navigation">
                <button id="prevButton" disabled>Anterior</button>
                <button id="nextButton">Próxima</button>
            </div>
            <div class="submit-container">
                <button id="submit">Enviar Respostas</button>
            </div>
            <div id="results"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>